body {
    margin: 0;
}

.site-header {
    background: #eef2ff;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
}

.header-title p {
    margin: 0;
    color: #1e293b;
    cursor: pointer;
}

.header-links a {
    color: #1e293b;
    text-decoration: none;
    margin-left: 8px;
    transition: color 0.2s;
}
.header-links a:hover {
    color: #6366f1;
}

.logo {
    width: 48px;
}

.search {
    position: relative;
    width: 200px;
}

.search input {
    width: 100%;
    background: #f8fafc;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    color: #0f172a;
    padding: 8px 36px 8px 12px;
    font-size: 14px;
}

.search input:hover {
    background: #ffffff;
    border-color: #cbd5e1;
}

.search input:focus {
    outline: none;
    background: #ffffff;
    border-color: #6366f1;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);
}

.search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(40px,-50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.search-btn img {
    width: 16px;
    display: block;
}

.alarm-icon {
    width: 24px;
    margin-left: auto;
    cursor: pointer;
}

.profile {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    min-width: 140px;       /* 메뉴 너비 */
    z-index: 999;
}

.profile-menu p {
    margin: 0;
    padding: 10px 16px;
    cursor: pointer;
    transition: background 0.2s;
}

.profile-menu p:hover {
    background: #eef2ff;
}
